<div class="main">
  <app-control-box></app-control-box>
  <div class="grid">
    <section class="col-6">
      <app-publisher name="KafkaPerfPublisher-1"></app-publisher>
    </section>
    <section class="col-6">
      <app-publisher name="KafkaPerfPublisher-2"></app-publisher>
    </section>
    <section class="col-6">
      <app-consumer name="KafkaPerfConsumer-1"></app-consumer>
    </section>
    <section class="col-6">
      <app-consumer name="KafkaPerfConsumer-2"></app-consumer>
    </section>
  </div>
</div>