.main {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;

    section {
        h3 {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
}